@import 'variables';

.edit-profile {
  .ant-modal-body {
    padding: 66px 50px 46px 50px !important;
  }
}
.visibility {
  width: 100% !important;
  .ant-select-selector {
    height: 100% !important;
    border: none !important;
    border-color: transparent !important;
    border-right-width: 0 !important;
    border-radius: 12px !important;
    background-color: @black_25 !important;
    box-shadow: none !important;
    &:hover {
      background-color: @white_50 !important;
    }
    .ant-select-selection-item {
      padding: 10px 4px !important;
      display: flex;
      align-items: center;
    }
  }
  .ant-select-arrow {
    padding-right: 13px !important;
  }
}
.ant-select-dropdown {
  padding: 8px 3px !important;
  border: none !important;
  border-radius: 12px !important;
  background-color: @black_25 !important;
  &:hover {
    background-color: @white_50 !important;
  }
}
.ant-select-item-option {
  background-color: transparent !important;
}
.ant-select-item-option-active {
  background-color: transparent !important;
}
.ant-select-item-option-content {
  display: flex;
  align-items: center;
}

.ant-tooltip {
  padding-left: 30px !important;
  padding-top: 50px !important;
}
.ant-tooltip-inner {
  width: 173px;
  padding: 12px 16px 26px 13px !important;
  border-radius: 4px !important;
}
.ant-tooltip-arrow {
  width: 40px !important;
  height: 40px !important;
  top: 50% !important;
  left: 3px !important;
}
.ant-tooltip-arrow-content {
  width: 22px !important;
  height: 22px !important;
}
