@import 'variables';

.profile {
  img {
    border-radius: 100%;
  }
  a {
    color: @white_75;
  }
  .creator-icon {
    position: absolute;
    bottom: 0;
    left: 115px;
  }
  &.following {
    h2, h4, img {
      cursor: pointer;
    }
    p {
      display: flex;
      align-items: center;
      a {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .info{
      width: 240px !important;
    }
  }
}
