export NODE_ENV=production
export STACK_ACCOUNT=$(aws sts get-caller-identity --query "Account" --output text)
#export STACK_REGION=$(aws configure get region)
export STACK_REGION=ca-central-1
export APP_NAME=outbound-deploy
export DOMAIN_NAME=tlabs.app
export SUBDOMAIN_NAME=outbound-deploy
export REACT_APP_GQL_ROOT=https://api-deploy-outbound.tlabs.app/prod/graphql/