@import 'variables';

.upload {
  padding: 34px 0 63px;
  text-align: center;
  .drag-and-drop {
    padding: 89px 0;
    img {
      min-height: 200px;
      max-width: 270px;
    }
  }
  .ant-spin-container {
    border-radius: 43px;
  }
}

.uploading {
  h2 {
    margin-bottom: 2px;
  }
  .ant-modal-body {
    padding: 27px 35px !important;
  }
  .ant-progress {
    margin-top: 20px;
  }
  .ant-progress-bg {
    background: @gradient-4;
    .ant-progress-status-success {
      background: @gradient-4;
    }
  }
  .ant-progress-inner {
    background-color: rgba(202, 235, 255, 0.25);
    height: 6px;
  }
}

.cover-image {
  padding: 15px 35px 7px;
  text-align: center;
  img {
    min-height: 127;
    max-width: 184px;
  }
  .drag-and-drop {
    padding: 33px 0 25px;
  }
  .uploaded-image {
    margin: auto;
    max-width: 568px;
    max-height: 259px;
    border-radius: 43px;
  }
  .desc {
    margin-top: -20px;
  }
}

.video-info {
  padding: 45px 0;
  text-align: center;
  input {
    width: 930px !important;
    background-color: transparent !important;
    &:hover,
    &:focus-visible {
      border: 1px solid transparent !important;
    }
    &.title {
      font-size: 26px;
    }
    &.description {
      color: @white_75;
    }
  }
  .player {
    display: flex;
    justify-content: center;
    padding: 24px 0 48px;
    min-height: 520px;
    video {
      border-radius: 16px;
    }
  }
}

.ant-upload.ant-upload-drag {
  border-color: @white_50;
  border-radius: 43px;
  background: none !important;
}
.ant-upload:hover,
.ant-upload.ant-upload-drag.ant-upload-drag-hover {
  border-color: @white_50 !important;
}

.confirmation {
  text-align: center;
  .ant-modal-body {
    padding: 63px 0 60px !important;
  }
  h2 {
    text-align: center;
    margin-bottom: 43px;
  }
}
