@import 'variables';

.upload {
  padding: 34px 0 63px;
  text-align: center;
  .small {
    padding: 0;
  }
  .dray-and-drop {
    padding: 89px 0;
    border: 1px dashed @white_50;
    border-radius: 43px;
    &.small {
      padding: 56px 0 !important;
    }
  }
  .play {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .remove {
    position: absolute;
    top: 4%;
    right: 25%;
  }
}
