@import 'variables';

.upload {
  padding: 34px 20px 63px;
  text-align: center;
  .drag-and-drop {
    padding: 89px 0;
    border: 1px dashed @white_50;
    border-radius: 43px;
    img {
      max-width: 270px;
      min-height: 200px;
    }
  }
}
.cover-image {
  padding: 39px 59px 31px !important;
  text-align: center;
  img {
    max-width: 184px;
    min-height: 127;
  }
  .drag-and-drop {
    padding: 56px;
    border: 1px dashed @white_50;
    border-radius: 43px;
  }
  .uploaded-image {
    margin: auto;
    img {
      max-width: 568px;
      max-height: 259px;
      border-radius: 43px;
    }
  }
}

.video-info {
  padding: 45px 0;
  text-align: center;
  input {
    width: 930px !important;
    background-color: transparent !important;
    &:hover,
    &:focus-visible {
      border: 1px solid transparent !important;
    }
  }
  input.title {
    font-size: 26px;
  }
  .player {
    padding: 24px 0 48px;
    min-width: 922px;
    min-height: 538px;
    .remove {
      position: absolute;
      top: 7%;
      right: 33%;
    }
    .play {
      position: absolute;
      top: 37%;
      left: 47%;
    }
  }
}

.ant-upload.ant-upload-drag {
  border: none !important;
  background: none !important;
}
