@font-face {
  font-family: 'Mark Pro';
  src: url('hinted-MarkPro-Bold.eot');
  src: local('Mark Pro Bold'), local('MarkPro-Bold'),
    url('hinted-MarkPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('hinted-MarkPro-Bold.woff2') format('woff2'), url('hinted-MarkPro-Bold.woff') format('woff'),
    url('hinted-MarkPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('hinted-MarkPro-Medium.eot');
  src: local('Mark Pro Medium'), local('MarkPro-Medium'),
    url('hinted-MarkPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('hinted-MarkPro-Medium.woff2') format('woff2'),
    url('hinted-MarkPro-Medium.woff') format('woff'),
    url('hinted-MarkPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('hinted-MarkPro.eot');
  src: local('Mark Pro'), local('MarkPro'),
    url('hinted-MarkPro.eot?#iefix') format('embedded-opentype'),
    url('hinted-MarkPro.woff2') format('woff2'), url('hinted-MarkPro.woff') format('woff'),
    url('hinted-MarkPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('hinted-MarkPro_1.eot');
  src: local('Mark Pro'), local('MarkPro'),
    url('hinted-MarkPro_1.eot?#iefix') format('embedded-opentype'),
    url('hinted-MarkPro_1.woff2') format('woff2'), url('hinted-MarkPro_1.woff') format('woff'),
    url('hinted-MarkPro_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('hinted-MarkPro-Bold_1.eot');
  src: local('Mark Pro Bold'), local('MarkPro-Bold'),
    url('hinted-MarkPro-Bold_1.eot?#iefix') format('embedded-opentype'),
    url('hinted-MarkPro-Bold_1.woff2') format('woff2'),
    url('hinted-MarkPro-Bold_1.woff') format('woff'),
    url('hinted-MarkPro-Bold_1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('hinted-MarkPro-Medium_1.eot');
  src: local('Mark Pro Medium'), local('MarkPro-Medium'),
    url('hinted-MarkPro-Medium_1.eot?#iefix') format('embedded-opentype'),
    url('hinted-MarkPro-Medium_1.woff2') format('woff2'),
    url('hinted-MarkPro-Medium_1.woff') format('woff'),
    url('hinted-MarkPro-Medium_1.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('hinted-DSLCLUMarkPro-Light.eot');
  src: local('DSLCLU+MarkPro-Light'),
    url('hinted-DSLCLUMarkPro-Light.eot?#iefix') format('embedded-opentype'),
    url('hinted-DSLCLUMarkPro-Light.woff2') format('woff2'),
    url('hinted-DSLCLUMarkPro-Light.woff') format('woff'),
    url('hinted-DSLCLUMarkPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mark Pro';
  src: url('hinted-DSLCLUMarkPro-Thin.eot');
  src: local('DSLCLU+MarkPro-Thin'),
    url('hinted-DSLCLUMarkPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('hinted-DSLCLUMarkPro-Thin.woff2') format('woff2'),
    url('hinted-DSLCLUMarkPro-Thin.woff') format('woff'),
    url('hinted-DSLCLUMarkPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
