.ant-tooltip {
  padding-left: 30px !important;
  padding-top: 50px !important;
}
.ant-tooltip-inner {
  border-radius: 4px;
}

.overlay-process {
  .ant-tooltip-content {
    .ant-tooltip-inner {
      width: 274px;
      padding: 12px 17px 16px 13px !important;
      border-radius: 4px !important;
      font-size: 16px;
    }
  }
}

.default-overlay {
  &.ant-tooltip-placement-left {
    .ant-tooltip-content {
      .ant-tooltip-inner {
        width: 173px;
        padding: 13px;
      }
      .ant-tooltip-arrow {
        right: -5px;
        top: 50%;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 16px solid #707280;
      }
    }
  }
  &.ant-tooltip-placement-right {
    .ant-tooltip-content {
      .ant-tooltip-inner {
        width: 173px;
        padding: 13px;
      }
      .ant-tooltip-arrow {
        left: 16px;
        top: 50%;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 18px solid #707280;
      }
    }
  }
}
