@import 'variables';

.cr-tab-button {
  padding: 9px 10px 11px;
  width: auto;
  height: 40px;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    line-height: 20px;
  }

  &:hover,
  &.active {
    border-radius: 6px;
    border: 1px solid @white_25;
  }

  &.active {
    background-color: @white_25;
    .cr-tab-button__text {
      color: @white;
    }
  }
}

.cr-button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding-left: 19px;
  padding-right: 19px;
  height: 44px;
  border-radius: 500px;
  min-width: 140px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  line-height: 0;
  &.is-block {
    display: block;
    width: 100%;
  }
  &.is-loading {
    pointer-events: none;
  }
  &:active {
    box-shadow: none;
  }
  &.large {
    height: 54px;
    .filled {
      .cr-button-secondary__text {
        color: @white;
      }
    }
  }
  &:not(:disabled)&:hover {
    background-color: @black_25;
  }
  &:disabled {
    border-color: @white_25;
    cursor: not-allowed;
    .cr-button-secondary__text {
      color: @white_25;
    }
  }
  &.filled {
    border: none;
    &:hover {
      &:after {
        display: block;
        content: '';
        width: 200%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
    &:disabled {
      background-color: @white_25;
      background-image: none;
      box-shadow: none;
      cursor: not-allowed;
      .cr-button-secondary__text {
        color: @white_50;
      }
    }
  }
}

.border-color {
  &-primary {
    border: 1px solid @primary;
  }
  &-secondary {
    border: 1px solid @secondary;
  }
  &-white {
    border: 1px solid @white;
  }
  &-white_75 {
    border: 1px solid @white_75;
  }
}

.filled-color {
  &-primary {
    background-image: @gradient-1;
    box-shadow: 0 4px 5px rgba(227, 123, 122, 0.25);
  }
  &-secondary {
    background-image: @gradient-4;
    box-shadow: 0 4px 5px rgba(26, 14, 156, 0.25);
  }
  &-tertiary {
    background-image: @gradient-3;
  }
  &-white_25 {
    background-color: @white_25;
  }
}

.loader {
  pointer-events: none;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
