@import 'variables';

.ant-modal-content {
  border: 2px solid;
  border-radius: 27px;
  backdrop-filter: blur(215px);
  background: linear-gradient(
    138.67deg,
    rgba(133, 182, 255, 0.31) -1.22%,
    rgba(66, 76, 90, 0.115) 107.33%
  );
  border-image-source: linear-gradient(
    137.74deg,
    rgba(56, 56, 56, 0.3) 1.96%,
    rgba(255, 255, 255, 0) 101.78%
  );
  box-shadow: 4.282351970672607px 3.4258816242218018px 34.25881576538086px 0px
    rgba(242, 244, 255, 0.25) inset;
  box-shadow: -4.282351970672607px -3.4258816242218018px 34.25881576538086px 0px rgba(
      28,
      28,
      28,
      0.25
    ) inset;
}

.ant-modal-close {
  top: -35px;
  right: 10px;
}

.dropdown-container {
  border-radius: 12px;
  background-color: @black_25;
  padding: 15px;
  border: none;
  min-width: 160px;
  height: 50px;
  cursor: pointer;
  &:focus-visible {
    border: none;
    outline: none;
    box-shadow: none;
  }
  &:hover {
    background-color: #686c73;
    .ant-col:last-child {
      svg {
        transform: rotate(-180deg);
        transform-origin: center;
      }
    }
  }
  .ant-row {
    height: 100%;
  }
  .ant-col {
    line-height: 14px;
    svg {
      transition: all 0.3s;
    }
    &:first-child {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      margin-right: 13px;
      svg {
        margin-right: 15px;
      }
    }
  }
}
