@import 'variables';

@weight-medium: 500;
@weight-regular: 400;
@weight-regular-thin: 300;
@weight-bold: 700;

@text-colors: white, white_75, white_50, white_25, dark, black_75, black_50, black_25, primary,
  primary_75, primary_50, primary_25, secondary, secondary_75, secondary_50, secondary_25, tertiary,
  tertiary_75, tertiary_5, tertiary_25, success, success_75, success_50, success_25, error, error_75,
  error_50, error_25, gray-1, gray-2, bg-1, bg-2, bg-3;

.header-10 {
  font-weight: @weight-medium;
  font-size: 26px;
}

.header-20 {
  font-weight: @weight-regular;
  font-size: 22px;
}

.header-30 {
  font-weight: @weight-bold;
  font-size: 18px;
}

.text-10 {
  font-weight: @weight-regular;
  font-size: 18px;
}

.text-20 {
  font-weight: @weight-regular-thin;
  font-size: 16px;
}

.text-30 {
  font-weight: @weight-medium;
  font-size: 16px;
}

.text-40 {
  font-weight: @weight-bold;
  font-size: 16px;
}

.text-50 {
  font-weight: @weight-regular;
  font-size: 14px;
}

.text-60 {
  font-weight: @weight-medium;
  font-size: 14px;
}

.text-70 {
  font-weight: @weight-regular;
  font-size: 12px;
}

.crio-text {
  margin: 0 !important;
  display: inline-block;
  white-space: pre-line;
  &--color {
    each(@text-colors, {
      &--@{value} {
        color: @@value;
      }
    });
  }
}

.crio-heading {
  white-space: pre-line;
  &--color {
    each(@text-colors, {
      &--@{value} {
        color: @@value;
      }
    });
  }
}

span {
  &.crio {
    &-heading,
    &-text {
      display: inline-block;
    }
  }
}
