// Sizes
@app-header-height: 70px;

// Colors
@white: #FFFFFF;
@white_10: rgba(255, 255, 255, 0.1);
@white_75: rgba(255, 255, 255, 0.75);
@white_50: rgba(255, 255, 255, 0.5);
@white_25: rgba(255, 255, 255, 0.25);


@dark: #2B2B2B;
@black_75: rgba(0, 0, 0, 0.75);
@black_50: rgba(0, 0, 0, 0.5);
@black_25: rgba(0, 0, 0, 0.25);

@primary: #00A0FF;
@primary_75: rgba(0, 160, 255, 0.75);
@primary_50: rgba(0, 160, 255, 0.5);
@primary_25: rgba(0, 160, 255, 0.25);

@secondary: #CF04A3;
@secondary_75: rgba(207, 4, 163, 0.75);
@secondary_50: rgba(207, 4, 163, 0.5);
@secondary_25: rgba(207, 4, 163, 0.25);

@tertiary: #A304CB;
@tertiary_75: rgba(163, 4, 203, 0.75);
@tertiary_5: rgba(163, 4, 203, 0.5);
@tertiary_25: rgba(163, 4, 203, 0.25);

@success: #72B736;
@success_75: #95C968;
@success_50: #B8DB9B;
@success_25: #DCEDCD;

@error: #E9112B;
@error_75: #EE4D60;
@error_50: #F48895;
@error_25: #F9C4CA;

@gray-1: #8C8CA2;
@gray-2: #4A4A68;

@bg-1: #CEDEED;
@bg-2: #EEF1F5;
@bg-3: #EDF6FF;

@gradient-1: linear-gradient(183.71deg, #FDD78D 3.24%, #E27A7C 97.14%);
@gradient-2: linear-gradient(183.71deg, #FDBC8D 2.59%, #F24B77 96.5%);
@gradient-3: linear-gradient(180deg, #35E87C 0%, #14995A 100%);
@gradient-4: linear-gradient(151.27deg, #04A7FD 13.55%, #0B47FD 80.64%);

@header-gradient: linear-gradient(90.27deg, #2B2B2B 49.76%, #17191C 100%);
