// Sizes
@app-header-height: 70px;

// Colors
@white: #ffffff;
@white_75: rgba(255, 255, 255, 0.75);
@white_50: rgba(255, 255, 255, 0.5);
@white_25: rgba(255, 255, 255, 0.25);
@white_10: rgba(255, 255, 255, 0.1);

@dark: #2b2b2b;
@black_75: rgba(0, 0, 0, 0.75);
@black_50: rgba(0, 0, 0, 0.5);
@black_25: rgba(0, 0, 0, 0.25);

@primary: #00a0ff;
@primary_75: rgba(0, 160, 255, 0.75);
@primary_50: rgba(0, 160, 255, 0.5);
@primary_25: rgba(0, 160, 255, 0.25);

@secondary: #cf04a3;
@secondary_75: rgba(207, 4, 163, 0.75);
@secondary_50: rgba(207, 4, 163, 0.5);
@secondary_25: rgba(207, 4, 163, 0.25);

@tertiary: #a304cb;
@tertiary_75: rgba(163, 4, 203, 0.75);
@tertiary_5: rgba(163, 4, 203, 0.5);
@tertiary_25: rgba(163, 4, 203, 0.25);

@success: #72b736;
@success_75: #95c968;
@success_50: #b8db9b;
@success_25: #dcedcd;

@error: #e9112b;
@error_75: #ee4d60;
@error_50: #f48895;
@error_25: #f9c4ca;

@gray-1: #8c8ca2;
@gray-2: #4a4a68;

@bg-1: #cedeed;
@bg-2: #eef1f5;
@bg-3: #edf6ff;

@gradient-1: linear-gradient(183.71deg, #fdd78d 3.24%, #e27a7c 97.14%);
@gradient-2: linear-gradient(183.71deg, #fdbc8d 2.59%, #f24b77 96.5%);
@gradient-3: linear-gradient(180deg, #35e87c 0%, #14995a 100%);
@gradient-4: linear-gradient(151.27deg, #04a7fd 13.55%, #0b47fd 80.64%);

@header-gradient: linear-gradient(90.27deg, #2b2b2b 49.76%, #17191c 100%);
