@import 'variables';

.cr-landing__container {
  background-color: @dark;
}

.cr-landing__banner {
  background-image: url('../../../assets/images/banner-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 121px 189px 99px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__heading {
    max-width: 720px;
    h1 {
      font-weight: bold;
      font-size: 45px;
      line-height: 57px;
      margin-bottom: 22px;
      color: white;
      display: inline-block;
    }
  }
  &__desc {
    max-width: 586px;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 44px;
  }
  @media (max-width: 767.98px) {
    padding: 72px 40px;
    h1 {
      font-size: 42px;
      line-height: 1.25;
    }
    &__desc {
      font-size: 20px;
      line-height: 1.75;
    }
  }
}

@grid-gap-horizontal: 22px;
@grid-gap-vertical: 34px;

.video-grid__item-container {
  border-radius: 16px;
  &.processing {
    z-index: 102;
    position: relative;
    &:not(.lock) .video-grid__item-lock img {
      animation-name: rotateLock;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}

.video-grid__item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  &-container {
    height: 276px;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      .video-grid__item-panel,
      .actions {
        display: flex;
        transform: translateY(0);
      }
    }
  }

  @keyframes rotateLock {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .video-grid__item-lock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: @black_25;
    border-radius: 15px;
    img {
      width: 102px !important;
      height: 102px !important;
    }
  }
  img {
    display: block;
    border-radius: 16px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    line-height: 0;
    &.lock {
      filter: blur(8px);
    }
  }
  &.large &-container {
    height: 587px;
  }
  &-panel {
    transition: all 0.3s linear;
    transform: translateY(100%);
    visibility: visible;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 111px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 103.09%);
    border-radius: 0 0 16px 16px;
    padding: 0 25px 16px 21px;
    color: @white;
    cursor: pointer;
  }
}

.cr-landing__video-grid {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  &__container {
    max-width: 1440px;
    padding: 27px 23px;
  }
  &__see-all {
    position: relative;
    height: 136px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &.list-loaded {
      &:after {
        display: none;
      }
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-100%);
      height: 294px;
      width: 100%;
      background-image: linear-gradient(180deg, rgba(43, 43, 43, 0) 0%, #2b2b2b 78.12%);
    }
  }
}

.cr-landing__about-perks {
  .about-perks {
    &__wrapper {
      background-image: linear-gradient(
        180deg,
        rgba(4, 24, 203, 0.0625) 0%,
        rgba(4, 84, 203, 0) 100%
      );
    }
    &__container {
      margin-right: auto;
      margin-left: auto;
      max-width: 1440px;
      position: relative;
    }
    &__illustration {
      text-align: center;
      img {
        max-width: 1202px;
        max-height: 648px;
        width: 100%;
      }
    }
    &__info {
      max-width: 512px;
      margin: auto;
      padding-top: 50px;
      h2,
      p {
        color: white;
        text-align: center;
      }
    }
    &__connect {
      padding: 20px 0 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__desc {
      @media (max-width: 767.98px) {
        font-size: 20px;
        line-height: 1.75;
        padding: 0 40px;
      }
    }
  }
}

.profile-artworks-list {
  .highlight-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: @black_75;
    z-index: 101;
    &.visible {
      display: block;
    }
  }
}
