@import 'variables';

.crio-input {
  width: 100%;
  font-size: 18px;
  border: none;
  border: 1px solid transparent;
  border-radius: 9px;
  color: @white;
  background-color: @black_25 !important;
  padding: 13px;
  line-height: 23px !important;
  &.disabled {
    color: @white_50;
    cursor: not-allowed;
    border: 1px solid @white_25 !important;
    background-color: transparent !important;
  }
  &:hover,
  &:focus-visible {
    border: 1px solid @primary_75 !important;
    outline: none;
  }
}
