@import 'variables';

.profile {
  padding: 44px 23px 82px 65px;
  img {
    border-radius: 100%;
    width: 134px;
    height: 134px;
    margin-right: 30px;
  }
  .creator-icon {
    position: absolute;
    bottom: 0;
    left: 100px;
  }
}

.container {
  background-color: @black_25;
}
