@import 'variables';

.profile {
  padding: 44px 23px 82px 65px;
  img {
    border-radius: 100%;
    width: 134px;
    height: 134px;
  }
  a {
    color: @white_75;
  }
  .creator-icon {
    position: absolute;
    bottom: 0;
    left: 115px;
  }
}

.container {
  background-color: @black_25;
  padding-bottom: 88px;
  .tab {
    padding-left: 60px;
    padding-top: 30px;
  }
  .active {
    color: @white !important;
    padding: 14px 20px;
    border-radius: 37px;
    border: 1px solid @white;
  }
  .inactive {
    padding: 14px 20px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .perks {
    text-align: center;
    img {
      margin-top: 40px;
    }
  }
}
