@import 'variables';

.cr-pricing {
  display: flex;
  flex-flow: column nowrap;
  background-color: #1a1a1a;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100%;
  @media screen and (max-width: 945px) {
    margin: 8px;
  }
  > div {
    padding: 60px 0;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 932px;
    margin: auto;
    position: relative;
    svg {
      position: absolute;
      left: 0;
      cursor: pointer;
    }
    @media (max-width: 767.98px) {
      width: 100%;
      svg {
        top: 100px;
        left: 40%;
      }
    }
  }
  &__card {
    background: linear-gradient(
      138.67deg,
      rgba(133, 182, 255, 0.31) -1.22%,
      rgba(66, 76, 90, 0.115) 107.33%
    );
    box-shadow: inset -4.28235px -3.42588px 34.2588px rgba(28, 28, 28, 0.25),
      inset 4.28235px 3.42588px 34.2588px rgba(242, 244, 255, 0.25);
    backdrop-filter: blur(215px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 27px;
    padding: 48px 10px 9px;
    max-width: 459px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    .recommended-marker {
      position: absolute;
      top: 0;
      right: 0;
    }
    & > .crio-heading {
      text-align: center;
      margin-bottom: 57px;
    }
    &.is-paid {
      max-width: 477px;
      min-height: 546px;
      > .crio-heading {
        margin-bottom: 22px;
        line-height: 21px;
      }
    }
    &--price {
      text-align: center;
      margin-bottom: 18px;
      .crio-heading {
        line-height: 21px;
        margin-right: 8px;
      }
    }
  }
  &__card:not(.is-paid) {
    min-height: 425px;
    margin-top: 42px;
  }
  &__perks-list {
    list-style-type: none;
    padding: 0 24px;
    color: @white_75;
    margin: 0 0 45px;
    flex-grow: 1;

    &-item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .crio-text {
        margin-top: -3px !important;
      }
      &:not(:last-child) {
        margin-bottom: 35px;
        line-height: 19px;
      }
      &__icon {
        display: inline-block;
        margin-right: 11px;
        padding-top: 1.5px;
      }
      &.is-pro &__icon {
        color: @success;
      }
    }
  }
  &__cancel-subscription {
    text-align: center;
    padding: 270px 0;
    max-width: 477px;
    margin: auto;
    .info {
      padding: 47px 0;
      border-radius: 27px;
      background: linear-gradient(
        138.67deg,
        rgba(133, 182, 255, 0.31) -1.22%,
        rgba(66, 76, 90, 0.115) 107.33%
      );
      box-shadow: inset -4.28235px -3.42588px 34.2588px rgba(28, 28, 28, 0.25),
        inset 4.28235px 3.42588px 34.2588px rgba(242, 244, 255, 0.25);
      .desc {
        width: 309px;
      }
    }
  }
}
