@import 'variables';

.cr-pricing {
  display: flex;
  flex-flow: column nowrap;
  background-color: #1a1a1a;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100%;
  @media screen and (max-width: 945px) {
    margin: 8px;
  }
  > div {
    flex-grow: 1;
  }
  > .ant-row .ant-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    &:first-child {
      margin-right: 8px;
      margin-bottom: 8px;
      .cr-pricing__card {
        max-height: 535px;
      }
    }
  }
  &__card {
    background: linear-gradient(
      138.67deg,
      rgba(133, 182, 255, 0.31) -1.22%,
      rgba(66, 76, 90, 0.115) 107.33%
    );
    box-shadow: inset -4.28235px -3.42588px 34.2588px rgba(28, 28, 28, 0.25),
      inset 4.28235px 3.42588px 34.2588px rgba(242, 244, 255, 0.25);
    backdrop-filter: blur(215px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 27px;
    padding: 48px 10px 9px;
    width: 459px;
    position: relative;
    .recommended-marker {
      position: absolute;
      width: 147px;
      height: 139px;
      top: 0;
      right: 0;
    }
    & > .crio-heading {
      text-align: center;
      margin-bottom: 57px;
    }
    flex-grow: 1;
    max-height: 621px;
    &.is-paid {
      width: 477px;
      > .crio-heading {
        margin-bottom: 22px;
        line-height: 21px;
      }
    }
    &--price {
      text-align: center;
      margin-bottom: 18px;
      .crio-heading {
        line-height: 21px;
        margin-right: 8px;
      }
    }
  }
  &__perks-list {
    list-style-type: none;
    padding: 0 24px;
    color: @white_75;
    margin: 0 0 45px;

    &-item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      &:not(:last-child) {
        margin-bottom: 35px;
        line-height: 19px;
      }
      &__icon {
        display: inline-block;
        margin-right: 11px;
      }
      &.is-pro &__icon {
        color: @success;
      }
    }
  }
}
