.blurred {
  .ant-modal-content {
    background: rgba(43, 43, 43, 1)
      linear-gradient(138.67deg, rgba(133, 182, 255, 0.31) -1.22%, rgba(66, 76, 90, 0.115) 107.33%);
    box-shadow: inset -4.28235px -3.42588px 34.2588px rgba(28, 28, 28, 0.25),
      inset 4.28235px 3.42588px 34.2588px rgba(242, 244, 255, 0.25);
    @supports ((-webkit-backdrop-filter: blur(215px)) or (backdrop-filter: blur(215px))) {
      background: transparent
        linear-gradient(
          138.67deg,
          rgba(133, 182, 255, 0.31) -1.22%,
          rgba(66, 76, 90, 0.115) 107.33%
        );
      -webkit-backdrop-filter: blur(215px);
      backdrop-filter: blur(215px);
    }
    border-radius: 27px;
  }
  .ant-modal-close {
    top: 24px;
    right: 10px;
  }
}
